---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 120
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
SortUsingDeclarations: true