*.user
Thumbs.db
src/moc_*.cpp
src/ui_*.h
src/*.qrc.depends
src/Modorganizer.*
src/*.bak
CMakeLists.txt.user
edit

# ASSEMBLER
ASSEMBLER/boost-compat-*/
ASSEMBLER/generated/
ASSEMBLER/tools/*.exe
ASSEMBLER/include/
ASSEMBLER/{src,include}/

# Git
/CMakeFiles
.idea
/msbuild.log
/*std*.log
/*build

/src/version.aps
