*.user
Thumbs.db
src/moc_*.cpp
src/ui_*.h
src/*.qrc.depends
src/Modorganizer.*
src/*.bak
CMakeLists.txt.user
edit
/CMakeFiles
.idea
/msbuild.log
/*std*.log
/*build

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/modorganizer/v15/Browse.VC.db
/.vs/modorganizer/v15/.suo
/.vs/modorganizer/v15/ipch/AutoPCH/78c20d967bafa068/MODINFODIALOG.ipch
