#include "Winver.h"

// If VS_FF_PRERELEASE is not set, MO labels the build as a release and uses VER_FILEVERSION to determine version number.
// Otherwise, if letters are used in VER_FILEVERSION_STR, uses the full MOBase::VersionInfo parser
// Otherwise, uses the numbers from VER_FILEVERSION and sets the release type as pre-alpha
#define VER_FILEVERSION     2,5,0
#define VER_FILEVERSION_STR "2.5.0-alpha1\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_PRERELEASE
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     (0)
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "FileVersion", VER_FILEVERSION_STR
        VALUE "CompanyName", "Mod Organizer 2 Team\0"
        VALUE "FileDescription",  "Mod Organizer 2 GUI\0"
        VALUE "OriginalFilename", "ModOrganizer.exe\0"
        VALUE "InternalName", "ModOrganizer2\0"
        VALUE "LegalCopyright", "Copyright 2011-2016 Sebastian Herbord\r\nCopyright 2016-2021 Mod Organizer 2 contributors\0"
        VALUE "ProductName",      "Mod Organizer 2\0"
        VALUE "ProductVersion", VER_FILEVERSION_STR
      END
    END

    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0409, 1200
    END
END
