#include "Winver.h"

#define VER_FILEVERSION     2,0,8,1
#define VER_FILEVERSION_STR "2.0.8.1beta\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (0)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "FileVersion", VER_FILEVERSION_STR
        VALUE "CompanyName", "Tannin\0"
        VALUE "FileDescription",  "Mod Organizer UI\0"
        VALUE "OriginalFilename", "ModOrganizer.exe\0"
        VALUE "ProductName",      "Mod Organizer\0"
        VALUE "ProductVersion", VER_FILEVERSION_STR
      END
    END

    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0409L, 1200
    END
END
