name: Build ModOrganizer 2

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  VCPKG_BINARY_SOURCES: clear;x-azblob,${{ vars.AZ_BLOB_VCPKG_URL }},${{ secrets.AZ_BLOB_SAS }},readwrite

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Build ModOrganizer
        id: build-modorganizer
        uses: ModOrganizer2/build-with-mob-action@dev/vcpkg
        with:
          mo2-dependencies: usvfs uibase bsatk esptk archive lootcli

      - name: Install ModOrganizer
        shell: pwsh
        run: |
          cmake --install vsbuild --config RelWithDebInfo -j4
        working-directory: ./build/${{ github.event.repository.name }}

      - name: Package ModOrganizer
        uses: actions/upload-artifact@master
        with:
          name: modorganizer
          path: ./install/bin
